.react-webmap-highlight-icon {
  opacity: 0.7;
  animation-duration: 0.5s;
  animation-name: react-webmap-highlight-fadein;
  animation-iteration-count: 1;
}
.react-webmap-highlight-style {
  animation-duration: 0.2s;
  animation-name: react-webmap-highlight-path-fadein;
  animation-iteration-count: 1;
}
@keyframes react-webmap-highlight-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes react-webmap-highlight-path-fadein {
  0% {
    opacity: 0.5;
    fill-opacity: 0.5;
  }
  100% {
    opacity: 0.8;
    fill-opacity: 0.8;
  }
}
