.react-webmap-legend-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.react-webmap-legend-row {
  display: table-row;
}

.react-webmap-legend-cell {
  display: table-cell;
  vertical-align: middle;
  word-break: break-word;
  padding: 4px 0;
}

.react-webmap-legend-symbol {
  min-width: 10px;
  text-align: center;
}

.react-webmap-legend-label {
  padding-left: 7px;
  padding-right: 7px;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.react-webmap-legend-colorramp-borderless {
  position: relative;
  width: 34px;
  height: 120px;
}

.react-webmap-legend-colorramp {
  width: 24px;
  margin-right: auto;
  margin-left: auto;
}

.react-webmap-legend-colorramp-tick {
  width: 3px;
  right: 2px;
  position: absolute;
  border-top: 1px solid #999999;
  line-height: 0px;
  left: auto;
}

.react-webmap-legend-colorramp-tick-last {
  margin-top: -1px;
}

.react-webmap-legend-colorramp-labels {
  position: relative;
}

.react-webmap-legend-colorramp-label {
  position: relative;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 0px;
  text-align: left;
  white-space: nowrap;
}